<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSSupportsOpeningDocumentsInPlace

</key>
	<true/>
	<key>NSFileProviderDomainUsageDescriptionNSFileProviderDomainUsageDescription

NSFileProviderDomainUsageDescription</key>
	<string>We need access to your files to let you select a custom alarm sound.</string>
</dict>
</plist>
